.res-tab{
    position: static;
    margin: 30px 0px 0px;
    z-index: 1;
    width: fit-content;
    min-width: 700px;
    border-collapse: collapse;
    background: white;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;

}

.title {
    position: static;
    text-align: center;
    top: 30%;
    bottom: 20%;
    z-index: 1;
    font-size: 30px;
    padding: 20px 0px 20px 80px;
}

.sides{
    padding: 10px 100px 10px 0px;
}

td{
    color: rgb(104, 104, 104);
    border-color: rgb(172, 172, 172, 0.3);
    border-width: 1px;
    border-style: solid;
    padding: 40px 50px 40px 50px;
    z-index: 2;
}


th{
    border-color: rgb(172, 172, 172, 0.3);
    border-width: 1px;
    border-style: solid;
    position: sticky;
    top: 0;
    padding: 40px 50px 40px 50px;
}




.emptyblock{
    border: none;
    background: #FFFFFF;
    position: sticky;
    left: 0;
    z-index: 2;
}

.starter{
    background: #FFFFFF;
}

.pro{
    background: #F4F7FE;
}

.Business1{
    background: #FDFAF3;

}

.priceS{
    color: #5332ED;
    font-size: 30px;
    font-style: bold;
    padding: 10px 0px 10px;
}

.priceP{
    color: #5332ED;
    font-size: 30px;
    font-style: bold;
    padding: 10px 0px 10px;

}

.priceB{
    color: #FF961E;
    font-size: 30px;
    font-style: bold;
    padding: 10px 0px 10px;
}

.name{
    color: rgb(104, 104, 104);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.currency{
    color:rgb(104, 104, 104);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin-top: 0px;
    
}

.choosebutton{
    margin: 5px 0px;
    text-decoration: none;
    color: #6E7076;
    margin: 10px 0px 0px;
    padding: 4px 16px;
    font-size: 12px;
    
}

.side_title{
    text-align: left;
    font-size: 18px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    padding: 10px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: sticky;
    left: 0;
    background: #FFFFFF;
    z-index: 1;

}



/* Responsive */

@media only screen and (max-width: 500px) {


    .res-tab{
        width: 100px;
    }
    
    .side_title{
        padding: 0px;
        width: 80px;
        position: sticky;
        left: 0;
    }

    .sides{
        padding: 10px 40px 10px 0px;
        margin: 0px 10px 0px 10px;
    }

    th{
        position: sticky;
        top: 0;
    }

    td{
        padding: 20px 10px 20px 10px;
    }
    
    .starter{
        background: #FFFFFF;
        padding: 5px 0px 5px;
        width: fit-content;
    }
    .pro{
        background: #F4F7FE;
        padding: 5px 0px 5px;
        width: fit-content;
    }
    .Business1{
        background: #FDFAF3;
        padding: 5px 0px 5px;
        width: fit-content;
    }

    .res-tab{
        width: 100px;
    }

}